main {
    width: 80%;
    margin: 1rem auto;
}

.actions .button {
    margin: .75rem .25rem
}

.button-group {
    margin-bottom: 0
}

.flickName {
    margin: 0 0.75rem
}

.template {
    display: none
}